@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.input-container {
  font-family: "Noto Sans", sans-serif;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  font-size: 13pt;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid gray;
  margin: .5em auto;
  border-radius: 30px;
  outline: none;
  height: 30px;
  padding: 1em;
  padding-left: 2em;
  display: block;
  width: 80%;
}

.input-textarea {
  height: 80px;
}

::placeholder {
  font-family: "Noto Sans", sans-serif;
  padding: 1em;
}

.btn {
  font-family: "Noto Sans", sans-serif;
  display: block;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  font-size: 13pt;
  border-radius: 30px;
  box-shadow: none;
  border: 1px solid gray;
}
