<div class="input-container">
  <h1 style="margin-left: 2.5em">
    Create new movie
  </h1>

  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <input class="input-field" placeholder="Title..." type="text" formControlName="title">

    <input class="input-field" placeholder="Categories..." type="text" formControlName="categories">

    <textarea class="input-field input-textarea" placeholder="Summary..." formControlName="summary"></textarea>

    <textarea class="input-field input-textarea" placeholder="Description..." formControlName="description"></textarea>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>


