<div class="logo-container">
  <span class="logo">Search<span style="color: darkorange">.movie</span>
  </span>
</div>

<section class="main">
  <form class="search" (keydown)="submitSearch($event)">
    <input type="text" style="display: inline-block" [formControl]="queryField" placeholder="Search..."/>

    <div style="display: inline; margin-left: 10px; vertical-align: middle">
      <span class="field-tip">
        <input id="toggle2" class="toggle-status" type="checkbox" [formControl]="operationSelector">
        <label for="toggle2" class="toggle-switch toggle-x2 toggle-rounded">
        </label>
        <span class="tip-content">Toggle search operation - black for AND, orange for OR</span>
      </span>
    </div>


    <ul class="results">
      <li *ngFor="let result of results"><a>{{ result.title }}<br/><span>{{ result.summary }}</span></a></li>
    </ul>
  </form>
</section>
