@import url('https://fonts.googleapis.com/css?family=Lobster');

.logo-container {
  margin-top: calc(50vh - 72pt - 100px);
  width: 640px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  font-family: "Lobster", serif;
  font-size: 72pt;
}

a {
  color: #1e7ad3;
  text-decoration: none;
}

a:hover { text-decoration: underline }

.container, .main {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.main { margin-top: 30px }

input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
  color: #555860;
}

.search {
  position: relative;
  margin: 0 auto;
  width: 400px;
}

.search input {
  height: 52px;
  width: 80%;
  padding: 0 12px 0 25px;
  background: ghostwhite;
  border-width: 1px;
  border-style: solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
  outline: none;
  border-color: darkorange;
  -webkit-box-shadow: 0 0 2px rgba(255, 140, 0, 0.9);
  -moz-box-shadow: 0 0 2px rgba(255, 140, 0, 0.9);
  -ms-box-shadow: 0 0 2px rgba(255, 140, 0, 0.9);
  -o-box-shadow: 0 0 2px rgba(255, 140, 0, 0.9);
  box-shadow: 0 0 2px rgba(255, 140, 0, 0.9);
}

.search input:focus ~ .results { display: block }

.search .results {
  display: none;
  position: absolute;
  top: 62px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: linear-gradient(top, #fdfdfd, #eceef4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}

.search .results li:first-child:before {
  border-bottom: 5px solid #c4c7d7;
  top: -11px;
}

.search .results li:first-child:after {
  border-bottom: 5px solid #fdfdfd;
  top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: #808394;
  font-weight: 500;
  text-shadow: 0 1px #fff;
  border: 1px solid transparent;
  border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-color: #ff8c00 #e67700 #e17300;
  background-color: #e67700;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8c00), color-stop(100%, #e67700));
  background-image: -webkit-linear-gradient(top, #ff8c00, #e67700);
  background-image: -moz-linear-gradient(top, #ff8c00, #e67700);
  background-image: -ms-linear-gradient(top, #ff8c00, #e67700);
  background-image: -o-linear-gradient(top, #ff8c00, #e67700);
  background-image: linear-gradient(top, #ff8c00, #e67700);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }

/* Toggle button */
/* -------------------------------------------------------------
   Pure CSS Toggle Switch with :checked
   ---------------------------------------------------------- */
.toggle-status {
  display: none;
}

.toggle-switch {
  top: -10px;
  top: -10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  vertical-align: bottom;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width:  1.625em; /* calc(1em * 2 - 0.125em * 2 - 0.0625em * 2); */
  height: 1.000em; /* calc(1em * 1); */
  box-sizing: border-box;
  border: solid #000000 0.125em;
  transition: border 0.5s;
}
.toggle-status:checked + .toggle-switch {
  border: solid #ff8c00 0.125em;
}
.toggle-switch::after {
  content: "";
  display: inline-block;
  position: absolute;
  top:    0.0625em;
  left:   0.0625em;
  width:  0.625em; /* calc(1em - 0.125em * 2 - 0.0625em * 2); */
  height: 0.625em; /* calc(1em - 0.125em * 2 - 0.0625em * 2); */
  background: #000000;
  transition: background 0.5s, left 0.5s;
}
.toggle-status:checked + .toggle-switch::after {
  background: #ff8c00;
  left: 0.6875em; /* calc(1em - 0.125em * 2 - 0.0625em); */
}
.toggle-string {
  line-height: 1;
}
/* ------------------------------------------ */
.toggle-rounded {
  border-radius: 0.5000em; /* calc(1em / 2); */
}
.toggle-rounded::after {
  border-radius: 0.3125em; /* calc(1em / 2 - 0.125em - 0.0625em); */
}
/* ---------------------------------------------
   Size
   ------------------------------------------ */
.toggle-x1 { font-size: 1rem; }
.toggle-x2 { font-size: 2rem; }
.toggle-x3 { font-size: 3rem; }
.toggle-x4 { font-size: 4rem; }
.toggle-x5 { font-size: 5rem; }
.toggle-x6 { font-size: 6rem; }
/* ------------------------------------------ */


/* Hover tooltips */
.field-tip {
  position:relative;
  cursor:help;
}
.field-tip .tip-content {
  position:absolute;
  top:-20px; /* - top padding */
  right:9999px;
  width:200px;
  margin-right:-220px; /* width + left/right padding */
  padding:10px;
  color:#fff;
  background:#333;
  -webkit-box-shadow:2px 2px 5px #aaa;
  -moz-box-shadow:2px 2px 5px #aaa;
  box-shadow:2px 2px 5px #aaa;
  opacity:0;
  -webkit-transition:opacity 250ms ease-out;
  -moz-transition:opacity 250ms ease-out;
  -ms-transition:opacity 250ms ease-out;
  -o-transition:opacity 250ms ease-out;
  transition:opacity 250ms ease-out;
}
/* <http://css-tricks.com/snippets/css/css-triangle/> */
.field-tip .tip-content:before {
  content:' '; /* Must have content to display */
  position:absolute;
  top:50%;
  left:-16px; /* 2 x border width */
  width:0;
  height:0;
  margin-top:-8px; /* - border width */
  border:8px solid transparent;
  border-right-color:#333;
}
.field-tip:hover .tip-content {
  right:-20px;
  opacity:1;
}
