@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.result-container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 920px;
}

.query {
  padding: 2em;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 2px;
}

.single-result {
  margin-top: 1em;
  margin-bottom: 1em;
  border: lightgray solid 1px;
  background: whitesmoke;
  padding: 1em;
  border-radius: 2px;
}

.title {
  margin-bottom: 1em;
  font-size: 14pt;
}

.back {
  margin-right: 0;
}


.preserve-3d {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@media screen and (max-width: 1260px) {
  .back {
    width: 50%;
  }
}

@media screen and (max-width: 840px) {
  .back {
    width: 100%;
  }
}

.button_base {
  margin: 0;
  border: 0;
  font-size: 18px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -100px;
  width: 200px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}

.button_base:hover {
  cursor: pointer;
}

.b03_skewed_slide_in {
  overflow: hidden;
  border: #000000 solid 1px;
}

.b03_skewed_slide_in div {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
  color: #000000;
  background-color: #ffffff;
}

.b03_skewed_slide_in div:nth-child(2) {
  background-color: #000000;
  width: 230px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: translate(-250px, 0px) skewX(-30deg);
  -webkit-transform: translate(-250px, 0px) skewX(-30deg);
  -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
  color: #ffffff;
  left: -200px;
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transform: translate(-15px, 0px) skewX(-30deg);
  -webkit-transform: translate(-15px, 0px) skewX(-30deg);
  -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
  left: 0px;
  transition: left 0.30000000000000004s ease;
  -webkit-transition: left 0.30000000000000004s ease;
  -moz-transition: left 0.30000000000000004s ease;
}


