<div class="result-container">
  <div class="back" (click)="navigateBack()">
    <div class="button_base b03_skewed_slide_in">
      <div>Back</div>
      <div></div>
      <div>Back</div>
    </div>
  </div>
  <pre class="query" innerHtml="{{ query | async}}"></pre>
  <div *ngFor="let movie of movies | async" class="single-result">
    <div class="title" [innerHtml]="movie.title"></div>
    <div class="summary"><b>Summary</b>: <span [innerHtml]="movie.summary"></span></div>
    <div class="description"><b>Description</b>: <span [innerHtml]="movie.description"></span></div>
    <div class="description"><b>Rank</b>: <span [innerHtml]="movie.rank"></span></div>
  </div>
</div>
