<label>Starting date:</label><input type="date" placeholder="Starting date" [(ngModel)]="dateStartString"/>
<label>End date:</label><input type="date" placeholder="End date" [(ngModel)]="dateEndString"/>
<button (click)="onChange()">Submit</button>

<table class="container">
  <thead>
    <tr>
      <th>Query</th>
      <th *ngFor="let column of columns">{{ column }}</th>
    </tr>
  </thead>
  <tr *ngFor="let row of data">
    <td>{{ row.query }}</td>
    <td *ngFor="let col of row.numOfQueriesByDay">{{ col.numOfQueries }}</td>
  </tr>
</table>
